.btn {
  display: flex;
  width: 230px;
  padding: 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $color-default-white;
  background-color: inherit;
  border: 2px solid $color-default-white;
  cursor: pointer;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
