.faq {
  margin: 0 auto;
  background: $color-additional-white;
  width: 1366px;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.faq__header {
  color: $color-default-blue;
  font-family: "Alumni Sans Semi";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 48px;
}
