.form__wrapper {
  margin: 0 auto;
  background: $color-default-white;
  width: 1366px;
  display: flex;
}

.form__free {
  padding: 60px 103px;
  width: 683px;
  background: $color-default-blue;
}

.form__contact {
  padding: 60px 103px;
  width: 683px;
  background: $color-default-white;
}

.form__header {
  color: $color-default-white;
  font-family: "Alumni Sans Semi";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 40px;
}

.form__header--color {
  color: $color-default-blue;
}

.form__list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.form__user {
  padding: 0;
  border:0 none;
}

.form__send {
  padding: 0;
  border:0 none;
}
