.hero {
  margin: 0 auto;
  background: $color-background-gradient;
  width: 1366px;
  padding-left: 103px;
  padding-right: 45px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  width: 955px;
  margin: 0;
  align-items: center;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__city {
    margin: 0;
    color: $color-default-white;
    text-align: right;
    font-family: "Alumni Sans Semi";
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  .hero__name {
    margin-top: 10px;
    margin-bottom: 0;
    color: $color-default-white;
    text-align: right;
    font-family: "Alumni Sans Extra";
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 85px;
    text-transform: uppercase;
  }

  .hero__list {
    display: flex;
    flex-direction: column;
    width: 113px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.hero__service-text {
  color: $color-default-white;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  text-align: right;
  }

  .hero__button {
    margin-top: 50px;
  }

  .hero__image {
    padding-left: 70px;
    padding-bottom: 120px;
  }
