.main-header__container {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  padding: 30px 103px;
  align-items: center;
  background: $color-background-gradient;
  min-height: 86px;
  }

  .main-header__logo {
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: $color-default-white;
  }

  .main-header__number {
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    color: $color-default-white;
  }
