.reviews {
  margin: 0 auto;
  background: $color-default-white;
  width: 1366px;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews__header {
  text-align: center;
  color: $color-default-blue;
  font-family: "Alumni Sans Semi";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 50px;
}

.reviews__wrapper {
  width: 560px;
  padding: 60px;
  color: $color-default-white;
  background: $color-default-blue;
  box-shadow: 0px 0px 40px 0px rgba(28, 51, 116, 0.20);
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.reviews__img {
  border-radius: 80px;
  background: url(<path-to-image>), lightgray -25.751px -17px / 156.878% 218.339% no-repeat;
}

.reviews__information {
  margin: 0;
  padding-bottom: 21px;
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.reviews__descriprion {
  margin: 0;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.reviews__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper .swiper-wrapper {
  box-sizing: content-box;
}

.reviews__btn-prev, .reviews__btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 18px;
  height: 34px;
  z-index: 10
}

.reviews__btn-prev {
  left: 9px;
}

.reviews__btn-next {
  right: 9px;
}
