.sitemap__logo {
  padding: 22px;
  background-color: $color-default-blue;
};

.sitemap__info {
  color: $color-default-blue;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
};

.sitemap__description{
  color: $color-default-blue;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
};
